body {
  background-image: url("https://dl.dropboxusercontent.com/u/755079/images/animalflipgame/symphony.png");
  font-family: Helvetica, sans-serif;
}

#title {
  font-family: 'Mystery Quest', cursive;
}

#title, #status{
  text-align: center;
}

.btn {
  margin-left: 90px;
}

.grids {
  margin-top: 2em;
  margin-left: 13em;
}

.grid {
  height: 180px;
  border-radius: 10px;
  border: solid black 3px;
  background-size: cover;
}

.btn-danger, .btn-success {
  font-size: 1.5em;
  border-radius: 15px;
}

.btn-danger span {
  font-size: 0.5em;
}