#title, #subtitle{
  text-align: center;
}

.btn {
  margin-left: 90px;
}

.grid {
  height: 180px;
  border-radius: 10px;
  border: solid black 3px;
  background-color: grey;
}

.grids {
  margin-top: 2em;
  margin-left: 15em;
}

.matched {
	border: solid red 3px;
}

.hiddenimage {
	background-size: 0 0;
}