body {
  background-color: #e3e3e3;
}

#title, #subtitle{
  text-align: center;
}

.btn {
  margin-left: 90px;
}

.grids {
  margin-top: 2em;
  margin-left: 15em;
}

.grid {
  height: 180px;
  border-radius: 10px;
  border: solid black 3px;
  background-size: cover;
}

.matched {
	border: solid red 3px;
}

.revealedimage {
	background-size;
}